#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.group-row {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 40%;
}

.clear {
    background-color: transparent;
    border: none;
}

.img {
    max-width: 100%;
    margin: 2rem;
    border-radius: 0.75rem;
    box-shadow: 6px 4px 5px #10101023;
}

.hero-text {
    margin: 0.5rem 0 1rem;

    font-size: 1.4rem;
    font-weight: 300;

    color: var(--secondary);

    text-align: center;
    line-height: 1.5;
}

.header,
.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--border-color);
}

.header {
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

.header h1 {
    color: var(--color-secondary);
}

.header h1 span {
    font-weight: 400;
    color: var(--color-primary);
}

.header nav {
    margin: 0;
}

.header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1em;
}

.header nav ul li {
    color: var(--text-light);
}

.header nav ul li a {
    padding: .25em 1em;
    border-radius: .5em;
    background-color: var(--linear-stop);
    color: var(--text-dark);
    text-decoration: none;
    text-transform: uppercase;
}

.header nav ul li a:hover {
    padding: .25em 1em;
    background-color: var(--color-primary-hover);
    color: var(--text-dark);
}

.footer {
    justify-content: space-around;
    
    color: var(--text-dark);
    padding: 1em 0;
}

.footer p {
    font-size: 0.85em;
}

.footer .version {
    font-weight: 400;
    font-size: 0.85em;
    color: #426e19;
}

.footer a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
}


.footer a:hover {
    color: rgba(0, 0, 0, 0.8);
}

.section {
  padding: 0.25em;
  margin: 0.125em;
  margin-top: 1em;
  border-radius: 1em;
  background-color: #c2dac7;
  border: solid 2px var(--border-color);
  box-shadow: 6px 4px 5px #10101023;
}

.section .simple {
  padding: 0.25em;
  margin: 0.125em;
  margin-top: 1em;
  border-radius: none;
  border: none;
  box-shadow: none;
}

.btn {
    padding: .5em 1em;
    font-size: 18px;
    background-color: rgb(56, 172, 83);
    border: none;
    border-radius: 3px 8px;
}

.btn.active,
.btn:hover {
    background-color: rgb(61, 155, 83);
    color: rgba(209, 231, 206, 0.8);
}

.big-text {
    font-size: 2em;
    font-weight: 300;
    line-height: 2em;
}

.update-form {
  font-weight:500;
  text-align: end;
  color: var(--color-secondary);
}

select {
    background-color: rgba(124, 214, 151, 0.726);
    color: #426e19;
    border: 1px solid #6a8f6a;
    border-radius: 12px;
    padding: 4px 8px;
    font-size: 1rem;
}

.portfolio-table {
    
    font-size: 1em;
}

.portfolio-table th {
    font-size: .8em;
}

.portfolio-table td {
    font-size: 1em;
}

/* ===== LAYOUT ===== */

.layout-sm,
.layout {
  min-height: 0;
  display: grid;
  flex: 1;
  align-items: start;
  grid-template-columns: 230px 1fr;
  align-items: start;
  min-height: auto;
  background-color: var(--bg-color);
}

.layout-sm {
  grid-template-columns:1fr;
  background-color: var(--bg-color);
}

.sidebar {
  display: grid;
  align-items: start;
  gap: 0.5rem;
  padding: 0.25rem;
}

.content {
  min-height: 0;
  min-width: 0;
  padding: 0.5rem;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0.3rem 0.8rem;

    border: 1px solid var(--border);
    border-radius: 999px;

    background-color: var(--card);
    color: var(--text);

    font-size: 0.8rem;
    font-weight: 600;
}

.badge {
    transition: all 0.2s ease;
}

.badge:hover {
    border-color: green;
    background-color: #c9e0b3;
    color: #426e19;
    transform: translateY(-2px);
}

.list-sm {
    width: fit-content;
    text-align: start;
}



@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .sidebar {
    align-self: start;
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 468px) {
  .sidebar {
    align-self: start;
    grid-template-columns: 1fr;
  }
}
