#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--border-color);
}

.header {
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

.header h1 {
    color: var(--color-secondary);
}

.header h1 span {
    font-weight: 400;
    color: var(--color-primary);
}

.header nav {
    margin: 0;
}

.header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1em;
}

.header nav ul li {
    color: var(--text-light);
}

.header nav ul li a {
    padding: .25em 1em;
    border-radius: .5em;
    background-color: var(--color-primary);
    color: var(--text-dark);
    text-decoration: none;
    text-transform: uppercase;
}

.header nav ul li a:hover {
    padding: .25em 1em;
    background-color: var(--color-primary-hover);
    color: var(--text-dark);
}

.footer {
    justify-content: center;
    color: var(--text-dark);
    padding: 1em 0;
}

.footer a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
}


.footer a:hover {
    color: rgba(0, 0, 0, 0.8);
}

.section {
  padding: 0.25em;
  margin: 0.125em;
  margin-top: 1em;
  border-radius: 1em;
  background-color: #c2dac7;
  border: solid 2px var(--border-color);
  box-shadow: 6px 4px 5px #10101023;
}

.btn {
    padding: .25em 1em;
    font-size: 18px;
    background-color: rgb(110, 141, 117);
    border: none;
    border-radius: 3px 8px;
}

.btn:hover {
    background-color: rgba(75, 120, 80, 0.3);
    color: rgba(67, 111, 60, 0.8);
}

.big-text {
    font-size: 2em;
    font-weight: 300;
    line-height: 2em;
}

.update-form {
  font-weight:500;
  text-align: end;
  color: var(--color-secondary);
}

select {
    background-color: rgba(124, 214, 151, 0.726);
    color: #426e19;
    border: 1px solid #6a8f6a;
    border-radius: 12px;
    padding: 4px 8px;
    font-size: 1rem;
}

.navLink {
    min-width: 6em;
    color: #426e19;
    text-decoration: none;
    font-weight: 500;
}

.portfolio-table {
    
    font-size: 1em;
}

.portfolio-table th {
    font-size: .8em;
}

.portfolio-table td {
    font-size: 1em;
}

/* ===== LAYOUT ===== */


.layout {
  min-height: 0;
  display: grid;
  flex: 1;
  align-items: start;
  grid-template-columns: 230px 1fr;
  align-items: start;
  min-height: auto;
  background-color: var(--bg-color);
}

.sidebar {
  display: grid;
  align-items: start;
  gap: 0.5rem;
  padding: 0.25rem;
}

.content {
  min-height: 0;
  min-width: 0;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .sidebar {
    align-self: start;
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 468px) {
  .sidebar {
    align-self: start;
    grid-template-columns: 1fr;
  }
}
